/* .Navbar-start {
  position: fixed;
  height: 25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
} */

.Navbar-scroll {
  /* position: fixed; */
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.Navbar-logo-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin-left: 5rem;
}

.Navbar-logo_logo {
  padding-right: 5rem;
}

.Navbar-links-container {
  color: white;
  font-size: 2rem;
  margin-right: 5rem;
}

.Navbar-links-container a {
  padding: 3rem;
  text-decoration: none;
}
