.Navbar {
  position: fixed;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6e7ff;
  z-index: 100;
  opacity: 0.9;
}

.Navbar-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-logo-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.Navbar-logo_name {
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 4rem;
  transform: translateX(2rem);
  color: #351947;
}

.Navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  height: 8rem;
}

.Navbar-links-container a {
  text-decoration: none;
}

/* ------------------------------- FAVORITES / SHOPPING -------------------------------- */
.Navbar-links-container-favorites {
  margin: 0 2rem;
}

.Navbar-links-container-favorites,
.Navbar-links-container-shopping {
  position: relative;
  cursor: pointer;
}

.Navbar-links-container-favorites_favcount,
.Navbar-links-container-shopping_shopcount {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: inline-block;
  background-color: #f69aa0;
  font-size: 1.3rem;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

.Navbar-links-container-favorites_logo,
.Navbar-links-container-shopping_logo {
  height: 6rem;
  width: 6rem;
}

/* ------------------------------- DROPDOWN ------------------------------- */

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
}

.dropdown-content {
  display: none;
  width: max-content;
  position: absolute;
  top: 8rem;
  right: -5rem;
  background-color: white;
}

.dropdown-content_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: black;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

.dropdown-content_btn {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: #451e5e;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px grey;
  transition: 0.3s;
}

.dropdown-content_btn:hover {
  box-shadow: 4px 4px 6px grey;
  transform: scale(1.1);
  transition: 0.3s;
}

.dropdown-content_btn:focus {
  outline: none;
}

.dropdown-content li:hover {
  background-color: #f6e7ff;
  transition: 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------- ANIMATED MODAL ------------------------------------ */
/* Note: some styles are inline! */

/* Start state */
.animated-modal {
  max-width: 80%;
  border-radius: 4px;
  overflow: hidden;
  font-size: 2rem;
  color: white;
  transform: translateY(-50px);
  transition: all 0.7s;
  background-image: linear-gradient(to bottom, #d55ead, #543093);
}

.animated-modal h2,
.animated-modal p,
.animated-modal img {
  transform: translateY(-50px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 0.4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal img {
  transform: translateY(0);
  opacity: 1;
  padding: 0.5rem;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: 0.1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: 0.3s;
}

.fancybox-slide--current .animated-modal img {
  transition-delay: 0.5s;
}
