/* .Navbar-start {
  position: fixed;
  height: 25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
} */

.Navbar-scroll {
  position: fixed;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.Navbar-logo-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 5rem;
}

.Navbar-logo_logo {
  padding-right: 5rem;
}

.Navbar-links-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-right: 5rem;
  height: 10rem;
}

.Navbar-links-container a {
  padding: 0 2rem;
  text-decoration: none;
}

/* ------------------------------- FAVORITES / SHOPPING -------------------------------- */

.Navbar-links-container-favorites,
.Navbar-links-container-shopping {
  position: relative;
}

.Navbar-links-container-favorites_favcount,
.Navbar-links-container-shopping_shopcount {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: inline-block;
  background-color: #f69aa0;
  font-size: 1.3rem;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

.Navbar-links-container-favorites_logo,
.Navbar-links-container-shopping_logo {
  height: 6rem;
  width: 6rem;
}

/* ------------------------------- DROPDOWN ------------------------------- */

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  width: max-content;
  position: absolute;
  top: 10rem;
  right: 0;
  background-color: #f1f1f1;
  cursor: pointer;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
}

.dropdown-content_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: black;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

.dropdown-content_btn {
  margin: 1rem;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
